.warpper
  .side-bar
    .header
      %h3.header__name
        test
      %ul.header__lists
        %li.list
          = link_to do
            = fa_icon 'cog', class: "icon"
        %li.list
          = link_to do
            = fa_icon 'edit', class: "icon"
    .groups
      .group
        = link_to do
          .group__name
            test
          .group__message
            test
      .group
        = link_to do
          .group__name
            test
          .group__message
            test
  .chat
    .header
      .left-header
        .left-header__title
          test
        %ul.left-header__members
          %li.member
            test
      .right-header
        = link_to do
          .right-header__button
            Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            test
          .upper-message__date
            2018/09/28/02:00
        .lower-message
          .lower-message__content
            test
      .message
        .upper-message
          .upper-message__user-name
            test
          .upper-message__date
            2018/09/28/02:00
        .lower-message
          .lower-message__content
            test
      .message
        .upper-message
          .upper-message__user-name
            test
          .upper-message__date
            2018/09/28/02:00
        .lower-message
          .lower-message__content
            test
      .message
        .upper-message
          .upper-message__user-name
            test
          .upper-message__date
            2018/09/28/02:00
        .lower-message
          .lower-message__content
            test
      .message
        .upper-message
          .upper-message__user-name
            test
          .upper-message__date
            2018/09/28/02:00
        .lower-message
          .lower-message__content
            test
      .message
        .upper-message
          .upper-message__user-name
            test
          .upper-message__date
            2018/09/28/02:00
        .lower-message
          .lower-message__content
            test
    .form
      %form#new_message
        %input.form__message{name: "message[content]", type: "text", placeholder: "type a message"}
        .form__mask
          %label.form__mask__image
            = fa_icon 'image'
            %input.hidden{name: "message[image]", type: "file"}
        %input.form__submit{name: "commit", type: "submit", value: "Send"}
